<div class="col-md-6">
    <h2>Create Appointment</h2>

    <form class="form new-appointment-form">
      <div class="form-group">
        <label for="patient-first-name">patient first name:</label>
        <input class="form-input" type="text" id="patient-first-name" />
      </div>
      <div class="form-group">
        <label for="patient-last-name">patient last name:</label>
        <input class="form-input" type="text" id="patient-last-name" />
      </div>
      <div class="form-group">
        <label for="appointment-date">appointment date:</label>
        <input class="form-input" type="date" id="appointment-date" />
      </div>
      <div class="form-group">
        <label for="notes">notes:</label>
        <input class="form-input" type="text" id="notes" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">create appointment</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/create-patient-appointment.js"></script>